game/Assets/AssetStoreTools
game/Assets/AssetStoreTools*
game/Library/AnnotationManager
game/Library/AssetImportState
game/Library/AssetServerCacheV3
game/Library/FailedAssetImports.txt
game/Library/MonoManager.asset
game/Library/ScriptAssemblies
game/Library/ScriptMapper
game/Library/assetDatabase3
game/Temp/
game/Assembly-CSharp-Editor-vs.csproj
game/Assembly-CSharp-Editor.csproj
game/Assembly-CSharp-Editor.pidb
game/Assembly-CSharp-vs.csproj
game/Assembly-CSharp.csproj
game/Assembly-CSharp.csproj.user
game/Assembly-CSharp.pidb
game/Library/ScriptAssemblies/
game/Library/metadata/
game/Library/cache/
game/Library/previews/
game/obj/
game/.vscode/

game.sln
*.suo
*.apk